﻿@model AccountDetailsPageViewModel
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="pad">
                <h8>
                    <label class="text-muted">Account Number</label>
                </h8>
                <h5>
                    <span class="text-dark">
                        @Model.AccountId
                    </span>
                </h5>
            </div>
            <div class="pad">
                <h8>
                    <label class="text-muted">Account Name</label>
                </h8>
                <h5>
                    <span class="text-dark">
                        @Model.FirstName
                        @Model.LastName
                    </span>
                </h5>
            </div>
            <div class="pad">
                <h8>
                    <label class="text-muted">Balance</label>
                </h8>
                <h5>
                    <span id="balance" class="text-dark">@Model.FormattedCurrentBalance</span>
                </h5>
            </div>
        </div>
        
        <div class="d-inline-flex p-4">
            <table id="tblAccounts" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Transaction Id</th>
                        <th>Amount</th>
                        <th>Balance After</th>
                        <th>Transaction Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in Model.Transactions)
                    {
                        <tr>
                            <td>@row.Id</td>
                            <td class="money">@row.FormattedAmount</td>
                            <td class="money">@row.FormattedBalanceAfter</td>
                            <td>@row.FormattedDate</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" style="text-align:right">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                Add New
                            </button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>


    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Add New Account</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="transactionAmount">Transaction Amount</label>
                        <input type="text" class="form-control required is-invalid" id="transactionAmount" placeholder="Transaction Amount">
                    </div>
                    <div class="form-group">
                        <label for="transactionType">Transaction Type</label>
                        <select class="form-control is-invalid" id="transactionType" required>
                            <option value="">Select</option>
                            <option value="credit">Credit</option>
                            <option value="debit">Debit</option>
                        </select>
                    </div>
                </div>
                <div>
                    <label class="text-danger"><span id="submitError" style="padding:20px"></span></label>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="btnSubmit" class="btn btn-primary" disabled>Submit Transaction</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/account/details.js"></script>
