﻿@model AccountViewPageModel
@{
    ViewData["Title"] = "View Accounts";
}

<div class="card">
    <div class="card-body">
        
        <h5>
            <span class="text-dark">
                Accounts Overview
            </span>
        </h5>
           
        <div class="d-inline-flex p-4">
            <div class="d-inline-flex p-4">
                <table id="tblAccounts" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Account Id</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var row in Model.Accounts)
                        {
                        <tr>
                            <td><a href="/Account/Details/@row.AccountId">@row.AccountId</a> </td>
                            <td>@row.FirstName</td>
                            <td>@row.LastName</td>
                            <td class="money">@row.FormattedBalance</td>
                        </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2" style="text-align:right">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                    Add New
                                </button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Add New Account</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control required is-invalid" id="firstName" placeholder="Enter first name">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control required is-invalid" id="lastName" placeholder="Enter last name">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="submit" id="btnSubmit" class="btn btn-primary" disabled>Submit</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/account/index.js"></script>

